﻿<h2 class="title">Login</h2>
<form method="post" action="@Url.Action("Login", "Account")">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="username" required placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" name="pass" id="pass" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
@if(ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}