﻿@using TestProject.Models
@using TestProject.UoW;
@{
    UnitOfWork _UoW = new UnitOfWork(new CarsEntities());
}
@model List<Car>
<h2 class="title">Cars Project</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal" id="addButton">
    Add a new Cars
</button>
@if (Model != null && Model.Count > 0)
{
    <h3 class="title">@(ViewBag.Key == null ? "List Cars" : ViewBag.Key)</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
                <th>Price</th>
                <th>New</th>
                <th>Update</th>
                @if (Session["user"] != null)
                {
                    <th>Add to inventory</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CarID</td>
                    <td>@item.Brand</td>
                    <td>@item.Model</td>
                    <td>@item.Year</td>
                    <td>@item.Price $</td>
                    <td>@(item.New.Value ? "Yes" : "No")</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UpdModal" id="updButton" data-id="@item.CarID" data-brand="@item.Brand" data-model="@item.Model" data-year="@item.Year" data-price="@item.Price" data-new="@item.New.Value" onclick="UpdateCar(this)">
                            Update
                        </button>
                    </td>
                    @if (Session["user"] != null)
                    {
                        <td>
                            @{
                                User objUser = (User)Session["user"];
                                var chkInventory = _UoW.InventoryRepo.GetByCarIDAndUserID(item.CarID, objUser.UserID);
                            }
                            @if (chkInventory != null && chkInventory.InventoryID > 0)
                            {
                                <button type="button" class="btn btn-success">
                                    Added
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" data-id="@item.CarID" onclick="AddToInventory(this)">
                                    Add
                                </button>
                            }

                        </td>
                      }
                </tr>
        }
        </tbody>
    </table>
}
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a new cars</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addcarform" method="post" action="@Url.Action("AddCar", "Home")">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Brand</label>
                        <input type="text" class="form-control" id="txtbrand" name="brand" placeholder="Enter brand" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Model</label>
                        <input type="text" class="form-control" id="txtmodel" name="odel" placeholder="Enter model" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Year</label>
                        <input type="number" class="form-control" id="txtyear" name="year" placeholder="Enter year" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Price</label>
                        <input type="number" step="0.01" class="form-control" id="txtprice" name="price" min="0" placeholder="Enter number" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="new">
                            New
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UpdModal" tabindex="-1" role="dialog" aria-labelledby="updModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update cars</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addcarform" method="post" action="@Url.Action("UpdateCar", "Home")">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Brand</label>
                        <input type="text" class="form-control" id="txtUbrand" name="Brand" placeholder="Enter brand" required>
                        <input type="hidden" id="carid" name="carId" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Model</label>
                        <input type="text" class="form-control" id="txtUmodel" name="model" placeholder="Enter model" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Year</label>
                        <input type="number" class="form-control" id="txtUyear" name="year" placeholder="Enter year" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Price</label>
                        <input type="number" step="0.01" class="form-control" id="txtUprice" name="price" min="0" placeholder="Enter number" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="new" id="chkUnew">
                            New
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section js{
    <script>
        function UpdateCar(e) {
            $("#carid").val($(e).data("id"));
            $("#txtUbrand").val($(e).data("brand"));
            $("#txtUmodel").val($(e).data("model"));
            $("#txtUyear").val($(e).data("year"));
            $("#txtUprice").val($(e).data("price"));
            if ($(e).data("new") == "True") {
                $("#chkUnew").prop("checked", true);
            }
        }
        function AddToInventory(e) {
            $.ajax({
                url: "/Home/AddCarToInventory",
                data: {
                    carID: $(e).data("id")
                },
                type: "POST",
                success: function (result) {
                    if (result > 0) {
                        $(e).prop("class", "btn btn-success");
                        $(e).html("Added");
                        $(e).removeProp("onclick");
                    }
                    else
                        alert('Something Wrong! Please try again.');
                },
                error: function (xhr, status, error) {
                    alert('Something Wrong! Please try again.');
                }
            });
        }
    </script>
}